<h1 class="title">
    {{supermarket}}
</h1>
<p class="label" style="color:{{color score}}">
    <img class="rating-icons" src="assets/{{scorer score}}.png">
    <h2>{{labels score}}</h2>
</p>
<div class=" div-container">
    <ul class="list">
        {{#each result}}
        <div class="result-items">
            <div class="img-container">
                <img class="product-img" src="assets/{{imagenamer pname}}.jpg">
            </div>
            <div class="text-container">
                <p class="text product">{{{pname}}}</p>
                <p class="text origin"> {{{oname}}} {{{emoji_code}}}</p>
                <p class="text mileage" style="border: solid 2px {{color this.score}}">{{{labels this.score}}}</p>
            </div>
        </div>
        <hr class="line">
        {{/each}}
    </ul>
</div>