<h2 class="message">For your groceries, <b>{{winner}}</b> has the most locally sourced produce </h2>
<ol class="resultsList">
    {{#each result}}
    <li>
        <a  href="/itemsbysupermarket?{{../queryString}}&supermarket={{this.supermarket_id}}&score={{rounder this.score}}">
            {{this.sname }}
            {{rounder this.score}}
        </a>
        <a class="link" href="/itemsbysupermarket?{{../queryString}}&supermarket={{this.supermarket_id}}&score={{rounder this.score}}">
            <p class="breakdown">View breakdown
        </a>
            <br>
        </p>
    </li>
    <p class="label">
        <img src="assets/{{scorer this.score}}.png">
        <br>
        {{labels this.score}}
    </p>
    {{/each}}
</ol>