<section class="main-body">
    <h2 class="message">For your groceries, <b>{{winner}}</b> has the most locally sourced produce </h2>
    <ul class="results-list">
        {{#each result}}
        <div class="result-box">
            <li>
                <a class="ranking-name"
                    href="/itemsbysupermarket?{{../queryString}}&supermarket={{this.supermarket_id}}&score={{rounder this.score}}">
                    #{{indexplusone @index}}: {{this.sname }}

                </a>
                <p class="label">
                    <img src="assets/{{scorer this.score}}.png">

                </p>
                <p class="word-rating">
                    {{labels this.score}}
                </p>
                <a class="link" href="/itemsbysupermarket?{{../queryString}}&supermarket={{this.supermarket_id}}&score={{rounder this.score}}">
                    <p class="button breakdown">View breakdown</p>
                </a>
            </li>

        </div>
        {{/each}}
    </ul>
</section>
