<p class="message">For your groceries, {{getWinnerName result}} has the most locally sourced produce </p>
<ol class="resultsList">
    {{#each result}}
    <li>
        <a  href="/itemsbysupermarket?{{../queryString}}&supermarket={{this.supermarket_id}}">
            {{this.sname }}
            {{rounder this.score}}
        </a>
        <a class="link" href="/itemsbysupermarket?{{../queryString}}&supermarket={{this.supermarket_id}}">
            <p class="breakdown">View breakdown
        </a>
            <br>
        </p>
    </li>
    <p class="label">
        <img src="assets/{{scorer this.score}}.png">
        <br>
        {{labels this.score}}
    </p>
    {{/each}}
</ol>