<ul class="item-list">
    {{#each data}}
    <li data-name="{{this.pname}}" data-value="{{this.product_id}}">
        <img src="assets/{{imagenamer this.pname}}.jpg">
        {{this.pname}}, {{this.cname}}
         </li>
    {{/each}}
</ul>
<div class="shopping-list--wrapper">
    <ul class="shopping-list">
    </ul>
</div>
<form action="/results" method="post" class="shopping-form">
    <input type="submit">
</form>

<script src="js/shoppingSelection.js"></script>