<h2 class="select-items-title">Select your items</h2>
<div class="item-list">
    {{#each data}}
    <div class="product" data-name="{{this.pname}}" data-value="{{this.product_id}}">
        <img class="product-img" src="assets/{{imagenamer this.pname}}.jpg"  alt="{{this.pname}}-image">
        <div class="product-name">{{this.pname}}</div>
    </div>
    {{/each}}
</div>
<div class="shopping-list--wrapper hidden">
    <h2>Your shopping list</h2>
    <div class="shopping-list"></div>
</div>
<form action="/results" method="get" class="shopping-form">
    <input type="submit" class="hidden submit-button" value="Submit">
</form>

<script src="js/shoppingSelection.js"></script>